/* =====================================
   ROOT
===================================== */

:root{

    --primary:#198754;
    --primary-dark:#17663b;
    --accent:#FFD45A;

    --text:#666;
    --title:#222;
    --white:#fff;

    --radius:20px;

    --shadow:0 8px 25px rgba(0,0,0,.08);
    --shadow-hover:0 18px 40px rgba(0,0,0,.12);

    --transition:all .3s ease;

}


/* =====================================
   GLOBAL
===================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Poppins",sans-serif;

    color:var(--title);

}

.container{

    max-width:1400px;

}

img{

    max-width:100%;

    display:block;

}

.page-section{

    padding:90px 0;

}

/* ==========================================================
   GLOBAL SCROLL FIX
   Mencegah BODY membuat overflow vertikal tambahan
========================================================== */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}