<footer class="footer">

    <div class="container">

        <div class="row align-items-start gy-5">

            <!-- Logo -->
            <div class="col-lg-3 mb-4">

                <img
                    data-footer-logo
                    class="footer-logo"
                    alt="Logo RTQ">

                <h5>Rumah Tahfizhul Qur'an </h5>
                <h3>Al Imam Adz Dzahabiy</h3>

                <p class="footer-tagline">
                    Mencetak Generasi Qur'ani di atas Manhaj Salaf
                </p>

            </div>

            <!-- Menu -->
            <div class="col-lg-3">

                <h5>Menu</h5>

                <ul class="footer-menu">

                    <li>
                        <a data-link="home">Beranda</a>
                    </li>

                    <li>
                        <a data-link="profil">Profil</a>
                    </li>

                    <li>
                        <a data-link="program">Program</a>
                    </li>

                    <li>
                        <a data-link="berita">Berita</a>
                    </li>

                    <li>
                        <a data-link="galeri">Galeri</a>
                    </li>

                    <li>
                        <a data-link="kontak">Kontak</a>
                    </li>

                </ul>

            </div>

            <!-- Program -->
            <div class="col-lg-3">

                <h5>Pendidikan</h5>

                <ul class="footer-menu">

                    <li><a data-link="ra">RA</a></li>
                    <li><a data-link="rb">RB</a></li>
                    <li><a data-link="mu">MU</a></li>
                    <li><a data-link="mw">MW</a></li>
                    <li><a data-link="muy">MUY</a></li>

            </div>

            <!-- Kontak -->
            <div class="col-lg-3">

                <h5>Kontak</h5>

                <p>
                    <i class="bi bi-geo-alt-fill"></i>
                    Jl. Pasir Putih RT.95<br>
                    Kel. Manggar, Balikpapan<br>
                    Kalimantan Timur 76116
                </p>

                <p>
                    <i class="bi bi-envelope-fill"></i>
                    Yayasan : yayasanalmuntaqo@gmail.com<br>
                    <i class="bi bi-envelope-fill"></i>
                    Sekolah : riadzmanggar@gmail.com
                </p>

                <p>
                    <i class="bi bi-whatsapp"></i>
                    Humas : 0831-5305-1404<br>
                    <i class="bi bi-whatsapp"></i>
                    Admin TU RTQ : 0851-8521-2467

                </p>

            </div>

        </div>

        <hr>

        <div class="text-center footer-copy">

            © 2026 Rumah Tahfizhul Qur'an Al Imam Adz Dzahabiy.
            Seluruh Hak Cipta Dilindungi.

        </div>

    </div>

</footer>