<nav class="navbar navbar-expand-lg bg-white shadow-sm">

    <div class="container">

        <!-- ==================================================
             LOGO
        =================================================== -->

        <a class="navbar-brand" href="#">

            <img
  
                alt="RTQ Al Imam Adz Dzahabiy"
                class="logo">

            <div class="brand-text">

                <div class="brand-title">
                    Rumah Tahfizhul Quran
                </div>

                <div class="brand-subtitle">
                    Al Imam Adz Dzahabiy
                </div>

            </div>

        </a>


        <!-- ==================================================
             TOGGLE HP
        =================================================== -->

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarRTQ"
            aria-controls="navbarRTQ"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>


        <!-- ==================================================
             MENU
        =================================================== -->

        <div class="collapse navbar-collapse" id="navbarRTQ">

            <ul class="navbar-nav ms-auto align-items-center">


                <!-- ==================================================
                     BERANDA
                =================================================== -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        data-link="home">

                        Beranda

                    </a>

                </li>


                <!-- ==================================================
                     PROFIL DROPDOWN
                =================================================== -->

                <li class="nav-item dropdown">

                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="profilDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">

                        Profil

                    </a>


                    <ul
                        class="dropdown-menu"
                        aria-labelledby="profilDropdown">

                        <li>

                            <a
                                class="dropdown-item"
                                data-profile="tentang">

                                Tentang

                            </a>

                        </li>


                        <li>

                            <a
                                class="dropdown-item"
                                data-profile="visi-misi">

                                Visi Misi

                            </a>

                        </li>


                        <li>

                            <a
                                class="dropdown-item"
                                data-profile="sejarah">

                                Sejarah

                            </a>

                        </li>


                        <li>

                            <a
                                class="dropdown-item"
                                data-profile="#">

                                Tenaga Pendidik

                            </a>

                        </li>


                        <li>

                            <a
                                class="dropdown-item"
                                data-profile="fasilitas">

                                Fasilitas

                            </a>

                        </li>

                    </ul>

                </li>


               <!-- ==================================================
                    PROGRAM DROPDOWN
                ================================================== -->

                <li class="nav-item dropdown">

                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="programDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">

                        Program

                    </a>


                    <ul
                        class="dropdown-menu"
                        aria-labelledby="programDropdown">


                        <!-- PROGRAM PENDIDIKAN -->

                        <li>

                            <a
                                class="dropdown-item"
                                data-link="program">

                                Program Pendidikan

                            </a>

                        </li>


                        <li>
                            <hr class="dropdown-divider">
                        </li>


                        <!-- RA -->

                        <li>

                            <a
                                class="dropdown-item"
                                data-link="ra">

                                Raudhatul Athfal

                            </a>

                        </li>


                        <!-- RB -->

                        <li>

                            <a
                                class="dropdown-item"
                                data-link="rb">

                                Raudhatul Banat

                            </a>

                        </li>


                        <!-- ULA -->

                        <li>

                            <a
                                class="dropdown-item"
                                data-link="mu">

                                Marhalah Ula

                            </a>

                        </li>


                        <!-- WUSTHO -->

                        <li>

                            <a
                                class="dropdown-item"
                                data-link="mw">

                                Marhalah Wustho

                            </a>

                        </li>


                        <!-- ULYA -->

                        <li>

                            <a
                                class="dropdown-item"
                                data-link="muy">

                                Marhalah Ulya

                            </a>

                        </li>

                    </ul>

                </li>

                <!-- ==================================================
                     BERITA
                =================================================== -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        data-link="berita">

                        Berita

                    </a>

                </li>


                <!-- ==================================================
                     GALERI
                =================================================== -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        data-link="galeri">

                        Galeri

                    </a>

                </li>


                <!-- ==================================================
                     KONTAK
                =================================================== -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        data-link="kontak">

                        Kontak

                    </a>

                </li>

            </ul>


            <!-- ==================================================
                 BUTTON
            =================================================== -->

            <div class="d-flex ms-lg-4">

                <a
                    class="btn btn-donasi me-3"
                    href="#">

                    Donasi

                </a>


                <a
                    class="btn btn-success"
                    href="#">

                    Daftar

                </a>

            </div>

        </div>

    </div>

</nav>